:root {
  --border: 1px solid #474a4d;
  --border-radius: 8px;

  --danger: #830000;
  --light-danger: #dc3545;

  --disabled: #979797;
  --light-disabled: #ccc;

  --blue: #03a9f4;
  --light-blue: #4ec2f7;

  --green: #00796b;
  --light-green: #329388;

  --purple: #a82dd1;
  --yellow: #fff565;

  --gray0: #ecf0f1;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #484a4d;
  --gray5: #302e38;
  --gray6: #242526;
  --gray7: #18171c;
  --white: #ffffff;
  --black: #000;
}

.dark {
  background-color: var(--gray7);
  --bg: var(--gray7);
  --bg-accent: var(--gray4);
  --bg-nav: var(--gray6);
  --bg-card: var(--gray5);
  --bg-post: var(--gray7);
  --bg-preview: var(--gray5);
  --bg-modal: var(--gray7);
  --bg-input: var(--gray5);
  --text: var(--white);
  --text-invert: var(--black);
}

.light {
  background-color: var(--gray0);
  --bg: var(--gray0);
  --bg-accent: var(--gray2);
  --bg-nav: var(--gray2);
  --bg-card: var(--gray1);
  --bg-post: var(--gray0);
  --bg-preview: var(--gray2);
  --bg-modal: var(--gray0);
  --bg-input: var(--gray1);
  --text: var(--black);
  --text-invert: var(--white);
}

* {
  box-sizing: border-box;
}

html {
  overflow: overlay;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Noto Sans",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--text);
  width: 100%;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--light-blue);
}

::-webkit-scrollbar {
  width: 10px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.base-view {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-danger {
  color: #dc3545;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .base-view {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .base-view {
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .base-view {
    width: 80%;
    max-width: 1024px;
  }
}
