# dependencies
/node_modules

# production
/build

# public
/public

# testing
/coverage

# env
.env

# folders
/uploads/images/*
!/uploads/images/edit-profile.png
!/uploads/images/edit-post.png
!/uploads/images/create-post.png
!/uploads/images/ik-blog.png

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
