.post {
  margin: 0 20px 50px;
}

.post a {
  text-decoration: none;
}

.post__card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* height: 10rem; */
  font-weight: 300;
}

.post__image {
  flex: 1 1 300px;
  height: 166px;
  margin-right: 0.3rem;
}

.post__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post__info {
  width: 70%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post__info p {
  font-size: 90%;
}

.post__title {
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--primary-text);
  margin: 0.5rem 0;
  flex-grow: 1;
  line-height: 1.15;
  text-rendering: optimizeLegibility;
}

.post__title a {
  color: var(--primary-text);
}

@media (max-width: 768px) {
  .post__card {
    flex-direction: column;
  }

  .post__image {
    flex: 0;
    height: 300px;
    overflow: hidden;
  }

  .post__info {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .post__date {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .post__image {
    height: 200px;
  }

  .post__title {
    font-size: 120%;
  }
}
