.post-preview {
  color: var(--text);
  overflow-x: auto;
}

.post-preview label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.preview-content {
  width: 100%;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  background-color: var(--bg-preview);
  line-height: 1.5;
  font-size: 90%;
}

.preview-content ul,
.preview-content ol {
  padding-left: 1.5rem;
}

.preview-content h1 {
  color: var(--white);
  background-color: #273c75;
  padding: 0.5rem 0 0.5rem 1.5rem;
  margin-left: -1.5rem;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  font-size: 1.8rem;
}

.preview-content h2 {
  font-size: 1.75rem;
}

.preview-content img {
  display: block;
  padding: 0.25rem;
  border: 1px solid var(--light-secondary-color);
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.preview-content img + br + em {
  display: inherit;
  text-align: center;
  font-size: 90%;
}

.preview-content a {
  background-color: transparent;
  text-decoration-skip: objects;
}
.preview-content a:active,
.preview-content a:hover {
  outline-width: 0;
  text-decoration: none;
}

.preview-content table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.preview-content td,
.preview-content th {
  border: 1px solid var(--divider-color);
  padding: 8px;
}

.preview-content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--light-secondary-color);
}

.preview-content pre {
  padding: 0.5rem;
  background-color: var(--darker-primary-color);
  /* border: var(--border); */
  border-radius: var(--border-radius);
  overflow-x: scroll;
}

.preview-content code {
  font-family: "Ubuntu Mono";
  font-size: 110%;
  background-color: var(--bg-nav);
  padding: 0.25rem;
  border-radius: var(--border-radius);
}

.preview-content pre > code {
  background-color: transparent;
  border-radius: 0;
}

@media (max-width: 480px) {
  .post-preview {
    border-radius: 0;
  }

  .preview-content {
    padding: 0.7rem;
  }

  .preview-content h1 {
    font-size: 1.5rem;
    padding-left: 0.7rem;
    margin: 0 0 0 -0.7rem;
  }
}

@media (max-width: 320px) {
  .preview-content {
    font-size: 60%;
  }
}
