.about {
  margin-top: 5rem;
  color: var(--text);
}

.dark .about img {
  filter: invert(1);
}

.about ul {
  padding-left: 1.5rem;
}

@media (max-width: 480px) {
  .about {
    font-size: 90%;
  }
}
