.blog-form {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blog-form__title {
	font-family: inherit;
}

.blog-form__submit {
	width: 100%;
	margin-top: 0.5rem;
}

.blog-form__submit button {
	width: 100%;
	margin-bottom: 0.5rem;
}
